<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Update</title>
</head>
<body>
<form action="/admin/update" method="post" th:object="${user}">
    <input type="hidden" th:value="${user.id}" name="id">
    NewFirstName:<br>
    <input type="text" th:value="${user.firstName}" name="newFirstName"><br><br>
    NewLastName:<br>
    <input type="text" th:value="${user.lastName}" name="newLastName"><br><br>
    NewEmail:<br>
    <input type="text" th:value="${user.email}" name="newEmail"><br><br>
    NewPassword:<br>
    <input type="text" th:value="${user.password}" name="newPassword"><br><br>
    <button formmethod="post">Let's go update...</button>
</form>
</body>
<a href="/logout">Logout</a>
</html>
