<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<table width="50%" border="1" cellpadding="8">
    <tr>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Email</td>
    </tr>
    <input type="hidden" th:object="${user}">
    <tr>
        <td th:utext="${user.firstName}"></td>
        <td th:utext="${user.lastName}"></td>
        <td th:utext="${user.email}"></td>
    </tr>
</table>
<a href="/logout">Logout</a>
</body>
</html>