<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/before.js"></script>
</head>
<body onload="updatePage()">

<table class="table">
    <thead class="table-dark">
    <td>
        <div>
            <strong th:text="${user.email}"></strong>
            with roles :
            <label th:each="role : ${user.roles}">
                <div class="mx-2" th:utext="${role.role}">

                </div>
            </label>
        </div>
    </td>
    <td class="text-right">
        <div>
            <a href="/logout" class="text-muted text-decoration-none">Logout</a>
        </div>
    </td>
    </thead>
</table>
<!--Общий контейнер-->
<div class="container-fluid">
    <div class="row">
        <!--        Переключение между ролями пользователя (левая колонка)-->
        <div class="col-2">
            <ul class="nav nav-pills flex-column" th:each="role : ${user.roles}" th:switch="${role.role}">
                <li class="nav-item" th:case="'ADMIN'">
                    <a class="nav-link active" href="#ADMIN" data-toggle="tab">ADMIN</a>
                    <a class="nav-link" href="#USER" data-toggle="tab">USER</a>
                </li>
            </ul>
        </div>

        <div class="tab-content col-10">
            <div class="tab-pane active" id="ADMIN">
                <div class="list-group">
                    <!--        Таблица юзеров, редактирование юзеров, удаление, и добаление-->
                    <div>
                        <h1>Admin panel</h1>
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="nav-tabs">
                                <a class="nav-link" href="#users" data-toggle="tab">Users table</a>
                            </li>
                            <li class="nav-tabs"><a class="nav-link" href="#new" data-toggle="tab">New User</a></li>
                        </ul>
                        <!--            Вкладка Users НАВТАБ-->
                        <div class="tab-content">
                            <div class="tab-pane active" id="users">
                                <div class="list-group">
                                    <a class="list-group-item list-group-item-action list-group-item-secondary"><strong>All
                                        Users</strong></a>

                                    <!--Эти 2 строчки обводят таблицу линией (Карты)-->
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="container-fluid">
                                                <!--Сама таблица-->
                                                <table class="table table-dark table-striped">
                                                    <thead>
                                                    <td><b>Id</b></td>
                                                    <td><b>First Name</b></td>
                                                    <td><b>Last Name</b></td>
                                                    <td><b>Email</b></td>
                                                    <td><b>Role</b></td>
                                                    <td><b>Update</b></td>
                                                    <td><b>Delete</b></td>
                                                    </thead>

                                                    <tbody id="body">
                                                    <!--                                                        Модальное окно-->
                                                    <div class="modal fade"
                                                         th:id="update" tabindex="-1"
                                                         role="dialog"
                                                         aria-labelledby="updateModal" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="updateModal">
                                                                        Edit
                                                                        user</h5>
                                                                    <button type="button" class="close"
                                                                            data-dismiss="modal"
                                                                            aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div class="container w-75">
                                                                        <div class="form-group">
                                                                            <strong>First Name</strong>
                                                                            <input id="firstNameUpdate"
                                                                                   type="text"
                                                                                   class="form-control">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <strong>Last Name</strong>
                                                                            <input id="lastNameUpdate"
                                                                                   type="text"
                                                                                   class="form-control">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <strong>Email</strong>
                                                                            <input id="emailUpdate"
                                                                                   type="text"
                                                                                   class="form-control">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <strong>Password</strong>
                                                                            <input id="passwordUpdate"
                                                                                   type="text"
                                                                                   class="form-control">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <strong>Role</strong>
                                                                            <select class="col" size="2"
                                                                                    id="selectRoleUpdate">
                                                                                <option>ADMIN</option>
                                                                                <option>USER</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button class="btn btn-secondary"
                                                                            data-dismiss="modal">Close
                                                                    </button>
                                                                    <button data-target="" onclick="updateUser()"
                                                                            id="isUserUpdateButton"
                                                                            class="btn btn-info">
                                                                        Edit
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- Само модальное окно Delete-->
                                                    <div class="modal fade deleteModal"
                                                         th:id='delete' tabindex="-1"
                                                         role="dialog"
                                                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalLabel">
                                                                        Delete
                                                                        user</h5>
                                                                    <button type="button" class="close"
                                                                            data-dismiss="modal"
                                                                            aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div class="container w-75">

                                                                        <fieldset disabled>
                                                                            <div class="form-group">
                                                                                <strong>First Name</strong>
                                                                                <input id="firstNameDelete"
                                                                                       type="text"
                                                                                       class="form-control">
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <strong>Last Name</strong>
                                                                                <input id="lastNameDelete"
                                                                                       type="text"
                                                                                       class="form-control">
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <strong>Email</strong>
                                                                                <input id="emailDelete"
                                                                                       type="text"
                                                                                       class="form-control">
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <strong>Password</strong>
                                                                                <input id="passwordDelete"
                                                                                       type="text"
                                                                                       class="form-control">
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <strong>Role</strong>
                                                                                <select class="col" size="2"
                                                                                        name="selectRole">
                                                                                    <option>ADMIN</option>
                                                                                    <option>USER</option>
                                                                                </select>
                                                                            </div>
                                                                        </fieldset>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button class="btn btn-secondary"
                                                                            data-dismiss="modal">
                                                                        Close
                                                                    </button>
                                                                    <input hidden
                                                                           name="id">
                                                                    <button data-target="" onclick="deleteUser()"
                                                                            id="isUserDeleteButton"
                                                                            class="btn btn-danger">
                                                                        Delete
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="new">
                                <div class="list-group">
                                    <a class="list-group-item list-group-item-action list-group-item-secondary"><strong>Add
                                        new user</strong></a>
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="container-fluid">

                                                <div class="row justify-content-center">

                                                    <div th:id="addUser"
                                                         class="text-center col-4">
                                                        <form class="addUserForm">
                                                            <div class="form-group">
                                                                <strong>First Name</strong>
                                                                <input th:value="${newUser.firstName}" type="text"
                                                                       class="form-control"
                                                                       placeholder="First Name" id="firstName"
                                                                       name="firstName">
                                                            </div>
                                                            <div class="form-group">
                                                                <strong>Last Name</strong>
                                                                <input th:value="${newUser.lastName}" type="text"
                                                                       class="form-control"
                                                                       placeholder="Last Name" id="lastName"
                                                                       name="lastName">
                                                            </div>
                                                            <div class="form-group">
                                                                <strong>Email</strong>
                                                                <input th:value="${newUser.email}" type="text"
                                                                       class="form-control"
                                                                       placeholder="Email" id="email" name="email">
                                                            </div>
                                                            <div class="form-group">
                                                                <strong>Password</strong>
                                                                <input th:value="${newUser.password}" type="text"
                                                                       class="form-control"
                                                                       placeholder="Password" id="password"
                                                                       name="password">
                                                            </div>
                                                            <div class="form-group">
                                                                <strong>Role</strong>
                                                                <select class="col" size="2" name="roles"
                                                                        id="roles">
                                                                    <option>ADMIN</option>
                                                                    <option>USER</option>
                                                                </select>
                                                            </div>
                                                        </form>
                                                            <div class="container">
                                                                <div class="container">
                                                                    <button class="btn btn-success addUser">Add new user
                                                                    </button>
                                                                </div>
                                                            </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="USER">
                <div class="list-group">
                    <div>
                        <h1>User information-page</h1>
                        <div class="list-group">
                            <a class="list-group-item list-group-item-action list-group-item-secondary"><strong>About
                                User</strong></a>
                            <!--Эти 2 строчки обводят таблицу линией (Карты)-->
                            <div class="card">
                                <div class="card-body">
                                    <div class="container-fluid">
                                        <!--Сама таблица USER-->
                                        <table class="table table-striped table-hover">
                                            <thead>
                                            <td><b>Id</b></td>
                                            <td><b>First Name</b></td>
                                            <td><b>Last Name</b></td>
                                            <td><b>Email</b></td>
                                            <td><b>Role</b></td>
                                            </thead>

                                            <tbody th:object="${user}">
                                            <td th:utext="${user.id}"></td>
                                            <td th:utext="${user.firstName}"></td>
                                            <td th:utext="${user.lastName}"></td>
                                            <td th:utext="${user.email}"></td>
                                            <td>
                                                <div th:each="role : ${user.roles}" th:utext="${role.role}"></div>
                                            </td>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="http://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script src="/click.js"></script>
</body>
</html>